<div ng-include="'/media/templates/upload-photo-modal.html'"></div>

<div class="row" data-toggle="isotope">
    <div class="col-xs-12 col-md-6 col-lg-4 item" ng-repeat="photo in gallery.photos">
        <div class="panel panel-default relative">
            <img ng-src="{{ photo.thumbnail }}" alt="place" class="img-responsive">
            <div class="panel-body">
                <span>{{ photo.text }}</span>
                <hr/>
                <div>
                    <a ng-repeat="teacher in photo.teachers" href="#" class="btn btn-primary btn-xs teacher-tag">
                        #{{ teacher.name }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

