

<div class="row" data-toggle="isotope">
    <div class="col-xs-12 col-md-6 col-lg-4 item photo-block" ng-repeat="photo in gallery.photos">
        <div class="panel panel-default relative">
            <img ng-src="{{ photo.thumbnail }}" alt="place" class="img-responsive">
            <div class="panel-body">
                <span>{{ photo.text }}</span>
                <hr/>
                <div>
                    <a ng-repeat="teacher in photo.teachers" href="#" class="btn btn-primary btn-xs teacher-tag">
                        #{{ teacher.name }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<button style="background-color: #26a69a" class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling" type="button"
        docs-scroll-class="scrolling" ng-click="gallery.openUploadPhotoModal()">

    <md-icon style="color: white" md-svg-src="/media/images/add_photo.svg" class="ng-scope" role="img" aria-hidden="true">
    </md-icon>

    <div class="md-ripple-container"></div>
</button>