<div id="filter">
    <div class="row">
        <div>
            <md-input-container>
                <label>בחר מגמה</label>
                <md-select ng-model="teachers.selectedTrackID" md-on-close="teachers.selectTrack()">
                    <md-option ng-value="track.id" ng-repeat="track in teachers.tracks">{{ track.name }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div>
            <md-autocomplete md-selected-item="teachers.selectedTeacher"
                             md-search-text="teachers.searchText"
                             md-items="teacher in teachers.getMatchingTeachers(teachers.searchText)"
                             md-item-text="teacher.name">
                <md-item-template>
                    <span md-highlight-text="teachers.searchText">{{teacher.name}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found.
                </md-not-found>
            </md-autocomplete>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-4 item" ng-repeat="teacher in teachers.teachers">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="media">
                    <div class="pull-left">
                        <img src="images/people/50/guy-2.jpg" alt="people" class="media-object img-circle">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading margin-v-5"><a href="asak#!/teachers/{{ teacher.id }}">{{ teacher.name }}</a></h4>
                        <div class="profile-icons">
                            <span><i class="fa fa-users"></i> 372</span>
                            <span><i class="fa fa-photo"></i> 43</span>
                            <span><i class="fa fa-video-camera"></i> 3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

