
<div class="panel panel-default">
    <div class="panel-heading panel-heading-gray">
        <i class="fa fa-bookmark"></i> הכותל
    </div>
    <div class="panel-body">
        <div class="row">
            <ul class="comments">
                <li class="media">
                    <div class="media-left">
                        <a href="">
                            <img src="images/asak/diamond.png" class="media-object">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                            <a href="#" data-toggle="dropdown" class="toggle-button">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                        <a href="" class="comment-author pull-right">מאור קרן:</a>
                        <span>אהוד יחתיכת תותח איזה מסיבה הרמת אתמול, אגב תודה על המזרן..</span>
                        <div class="comment-date">21st September</div>
                    </div>
                </li>
                <li class="comment-form">
                    <form class="form">
                        <label for="comment">השארת פתק</label>

                        <div class="form-group">
                            <input type="text" class="form-control" id="poster" placeholder="שם(אופציונאלי)">

                            <textarea class="form-control" id="comment" rows="2" placeholder="תגובה"></textarea>
                            <small id="emailHelp" class="form-text text-muted">כדי שבכל זאת נוכל להינות מהאתר ומהאסק, תהיו חכמים ותחשבו לפני שאתם כותבים. &hearts;</small>
                        </div>

                        <button type="submit" class="btn btn-primary">שלח</button>

                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading panel-heading-gray">
        <i class="fa fa-bookmark"></i> תמונות
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 item photo-block" ng-repeat="photo in profile.photos">
                <div class="panel panel-default relative">
                    <img ng-src="{{ photo.thumbnail }}" alt="place" class="img-responsive">
                    <div class="panel-body">
                        <span>{{ photo.text }}</span>
                        <hr/>
                        <div>
                            <a ng-repeat="teacher in photo.teachers" href="#" class="btn btn-primary btn-xs teacher-tag">
                                #{{ teacher.name }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

