.teacher-tag {
    margin: 0 1px 0 1px;
}

.photo-block{
    width:inherit;
}

.track-select md-select-menu {
  margin-top: 45px;
}

.add-picture {
    position: fixed !important;
    background-color: #26a69a;
    bottom: 55px;
}

a {
    cursor: pointer;
}